@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" type="text/css" href="~/css/AboutPage.css">

<div class="container wrap">
    <h2 class="page-header">About</h2>

    <div id="boxContainer">
        <br />
        <p>
            <b>Matheus Kümmel</b> <br/>
            <b>Software Developer</b>
        </p>
        <p>
            <b>Specialization</b>, <i><span>Digital Games Development</span><br /><span>emphasis on Programming</span></i> <br/>
            <b>Specialization</b>, <i><span>Digital Games Development</span><br /> <span>emphasis on Design</span></i>
        </p>
        <p><b>Bachelor Degree</b>, <i>Computer Science</i></p>
        <p>
            <b>Skills: </b>C#, .NET, HTML, CSS, Python, SQL, Git, MVC, Docker, C++<br />
            <b>Tools: </b>Visual Studio, SourceTree, GitHub, Unity3D, Unreal Engine<br />
        </p>
        <p>
            Portuguese, English, Japanese (just a little bit)<br />
            Porto Alegre, Rio Grande do Sul, Brazil<br />
        </p>
        <p><b>Email:</b> me@matheuskummel.com</p>
        <p>
            <a class="socialnetwork" href="https://www.linkedin.com/in/matheus-kummel/" title="My LinkedIn profile">
                <i class="fa fa-linkedin fa-2x"></i>
                LinkedIn
            </a>
            <a class="socialnetwork" href="https://www.instagram.com/matheus.kummel/" title="My Instagram profile">
                <i class="fa fa-instagram fa-2x"></i>
                Instagram
            </a>
            <a class="socialnetwork" href="https://stackoverflow.com/users/story/8512195" title="My StackOverflow story">
                <i class="fa fa-stack-overflow fa-2x"></i>
                Stack Overflow
            </a>
            <a class="socialnetwork" href="https://github.com/mckummel" title="My GitHub page">
                <i class="fa fa-github fa-2x"></i>
            </a>
            GitHub
        </p>
        <br />
        <hr />
        <b id="footer">&copy; @DateTime.Now.Year - Matheus Kümmel</b>
    </div>
</div>